@import "../global";

// Coreui
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/css/free.min.css';

@import '~vue-select/dist/vue-select.css';


@import './components/widget.scss';

$indigo: #6574cd;
$orange: #f6993f;
$black: #212529;

.badge-indigo {
  background-color: $indigo;
  color: $white;
}

.badge-orange {
  background-color: $orange;
}

.table-black {
    background-color: $black;
    color: $white;
}
